{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
	{% block head %}{% endblock %}
{% endblock %}
{% block content %}
	{% if title %}<h1>{{title}}</h1>{% endif %}
	Sorry, no content
{% endblock %}
{% block footer %}
	{% include 'partials/footer.twig' %}
{% endblock %}
